<div class="card pt-4 mb-6 mb-xl-9">
    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
            <div class="w-100 mw-150px">
                <select class="form-select form-select-solid" data-control="select2" data-hide-search="true"
                    data-placeholder="Status" [ngModel]="selectedStatus" (ngModelChange)="getAllDataByStatus($event)">
                    <option value="">Status</option>
                    <option *ngFor="let item of modules.basestatus" value="{{ item }}">{{ item | titlecase }}
                    </option>
                </select>
            </div>
            <button (click)="resetForm(true)" type="button" class="btn btn-primary">
                <span class="svg-icon svg-icon-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                            transform="rotate(-90 11.364 20.364)" fill="currentColor" />
                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="currentColor" />
                    </svg>
                </span>
                Nuevo
            </button>
        </div>
    </div>
    <div class="card-body pt-0 pb-5" *ngIf="!shorForm">
        <table class="table align-middle table-row-dashed gy-5" id="kt_table_customers_payment">
            <thead class="border-bottom border-gray-200 fs-7 fw-bold">
                <tr class="text-start text-muted text-uppercase gs-0">
                    <th>Propiedad</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Fecha</th>
                    <th class="min-w-70px text-center">Acción</th>
                </tr>
            </thead>
            <tbody class="fs-6 fw-semibold text-gray-600">
                <tr *ngFor="let item of allDataByStatus">
                    <td (click)="selectHeroe(item)">
                        <div class="d-flex align-items-center">
                            <span class="symbol symbol-50px">
                                <img [src]="baseUrl +  item.image">
                            </span>
                            <div class="ms-5">
                                <span class="text-gray-800 text-hover-primary fs-5 fw-bold"
                                    >
                                    <strong>{{ item.name }}</strong>
                                    <br /><small> {{ item.description }}</small>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span
                            class="badge {{ item.status == 'inactivo' ? 'badge-light-danger' : 'badge-light-success' }}">{{
                            item.status }}</span>
                    </td>
                    <td class="text-center">{{ item.created_at }}</td>
                    <td class="text-end text-center">
                        <a (click)="selectHeroe(item)" class="symbol symbol-20px">
                            <img src="assets/media/icons/edit-button.svg" />
                        </a>
                    </td>
                </tr>
                <tr *ngIf=" allDataByStatus.length == 0">
                    <td colspan="4" class="text-center">No hay datos</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-body pt-0 pb-5" *ngIf="shorForm">
        <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
            data-kt-image-input="true" [ngStyle]="{ 'background-image': 'url(' + baseUrl + heroe.image + ')'}">
            <div class="image-input-wrapper w-150px h-150px"></div>
            <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                <i class="bi bi-pencil-fill fs-7"></i>
                <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
            </label>
            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                <i class="bi bi-x fs-2"></i>
            </span>
            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                <i class="bi bi-x fs-2"></i>
            </span>
        </div>
        <form class="form" autocomplete="off" [formGroup]="letsdoitForm" (ngSubmit)="saveItem()">
            <div class="text-muted fs-7">Solo se admiten archivos de imagen *.png, *.jpg y *.jpeg.
            </div>
            <div class="fv-row mb-7">
                <label class="fs-6 fw-semibold form-label mb-2 required">
                    <span>Nombre</span>
                </label>
                <input class="form-control form-control-lg form-control-solid" type="text" placeholder=""
                    [(ngModel)]="heroe.name" formControlName="name" autocomplete="off">
                <div class="text-muted fs-7">Establece el nombre.</div>
            </div>
            <div class="fv-row mb-7">
                <label class="fs-6 fw-semibold form-label mb-2">
                    <span>Descripción</span>
                </label>
                <textarea rows="4" class="form-control mb-2" placeholder="" [(ngModel)]="heroe.description"
                    formControlName="description" autocomplete="off"></textarea>
                <div class="text-muted fs-7">Establezca la descripción. </div>
            </div>
            <div class="fv-row mb-7">
                <label class="fs-6 fw-semibold form-label mb-2 required">
                    <span>Status</span>
                </label>
                <select class="form-select mb-2" [(ngModel)]="heroe.status" formControlName="status">
                    <option *ngFor="let item of modules.basestatus" value="{{ item }}">{{ item | titlecase }}
                    </option>
                </select>
                <div class="text-muted fs-7">Seleccione el status.</div>
            </div>
            <div class='separator separator-dashed my-5'></div>
            <div class="text-center pt-15">
                <button (click)="resetForm(false); reload()" type="reset" class="btn btn-light me-3">Volver</button>
                <button type="submit" class="btn btn-primary" data-kt-users-modal-action="submit"
                    [disabled]="letsdoitForm.invalid">
                    <span class="indicator-label">Enviar</span>
                    <span class="indicator-progress">Un momento porfavor...
                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                </button>
            </div>
        </form>
    </div>
</div>
