<div id="kt_app_content" class="app-content flex-column-fluid">
  <div id="kt_app_content_container" class="app-container container-xxl">
    <div class="d-flex flex-column flex-xl-row">
      <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
        <div class="card mb-5 mb-xl-8">
          <div class="card-body pt-15">
            <div class="d-flex flex-center flex-column mb-5">
              <div class="symbol symbol-150px mb-10"> <img [src]="baseUrl +  heroe.image" /> </div>
              <span class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">{{ heroe.code }}</span>
            </div>
            <div class="d-flex flex-stack fs-4 py-3">
              <div class="fw-bold">Details</div>
              <div class="badge {{ heroe.status == 'inactiva' ? 'badge-light-danger' : 'badge-light-success' }}">
                {{ heroe.status }}</div>
            </div>
            <div class="separator separator-dashed my-3"></div>
            <div class="pb-5 fs-6">
              <div class="fw-bold mt-5">Dirección completa</div>
              <div class="text-gray-600 text-hover-primary">{{ heroe.fulladdress }}</div>
              <div class="fw-bold mt-5">Niveles</div>
              <div class="text-gray-600">{{ heroe.floors }}</div>
              <div class="fw-bold mt-5">Cuartos</div>
              <div class="text-gray-600">{{ heroe.beds }}</div>
              <div class="fw-bold mt-5">Baños</div>
              <div class="text-gray-600">{{ heroe.baths }}</div>
              <div class="fw-bold mt-5">Area m2</div>
              <div class="text-gray-600">{{ heroe.landsize }}</div>
              <div class="fw-bold mt-5">Tamaño de construcción</div>
              <div class="text-gray-600">{{ heroe.constructionsize }}</div>
              <div class="fw-bold mt-5">Color</div>
              <div class="text-gray-600">{{ heroe.color }}</div>
              <div class="fw-bold mt-5">Medidor de Agua</div>
              <div class="text-gray-600">{{ heroe.watermeter }}</div>
              <div class="fw-bold mt-5">Medidor de Luz</div>
              <div class="text-gray-600">{{ heroe.lightmeter }}</div>
              <div class="fw-bold mt-5">Tipo</div>
              <div class="text-gray-600">{{ heroe.type | titlecase }}</div>
              <div class="fw-bold mt-5">Propiedad</div>
              <div class="text-gray-600">{{ heroe.property }}</div>
            </div>
            <button type="button" [routerLink]="['edit']" class="btn btn-primary">
              <span class="indicator-label">Editar</span>
              <span class="indicator-progress">Un momento porfavor...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="flex-lg-row-fluid ms-lg-15">
        <div class="tab-content">
          <div class="card pt-4 mb-6 mb-xl-9">
            <div class="card-header border-0">
              <div class="card-title">
                <h2 [routerLink]="['../../administracion-de-contratos']">Historial de Contratos</h2>
              </div>
            </div>
            <div class="card-body pt-0 pb-5">
              <table class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                  <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                    <th class="min-w-100px text-center"># Contrato</th>
                    <th class="min-w-150px">Inmueble</th>
                    <th class="min-w-100px text-center">Total</th>
                    <th class="min-w-100px text-center">Inicio</th>
                    <th class="min-w-100px text-center">Termina</th>
                    <th class="min-w-75px text-center">Status</th>
                  </tr>
                </thead>
                <tbody class="text-gray-600 fw-semibold">
                  <tr *ngFor="let item of allContract | slice:0:50">
                    <td class="text-center">
                      <div class="ms-5">
                        <a [routerLink]="['../../administracion-de-contratos/', item.itemid]"
                          class="text-gray-800 text-hover-primary fs-5 fw-bold">
                          <strong># {{ item.id }}</strong>
                          <br /><small>{{ item.type }}</small>
                        </a>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <a [routerLink]="['../../administracion-de-inquilinos/', item.enteid]"
                          class="symbol symbol-50px">
                          <img [src]="baseUrl +  item.eimage">
                        </a>
                        <div class="ms-5">
                          <a [routerLink]="['../../administracion-de-inquilinos/', item.enteid]"
                            class="text-gray-800 text-hover-primary fs-5 fw-bold">
                            <strong>{{ item.ename | titlecase }}</strong>
                            <br /><small> {{ item.eemail }}</small>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td class="text-center">{{ item.total | currency }} {{ item.currency | uppercase
                      }}</td>
                    <td class="text-center">{{ item.startdate }}</td>
                    <td class="text-center">{{ item.enddate }}</td>
                    <td class="text-center">
                      <div class="badge {{ item.status == 'inactivo' ? 'badge-light-danger' : 'badge-light-success' }}">
                        {{ item.status }}</div>
                    </td>
                  </tr>
                  <tr *ngIf=" allContract.length == 0">
                    <td colspan="7" class="text-center">No hay datos</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card pt-4 mb-6 mb-xl-9">
            <div class="card-header border-0">
              <div class="card-title">
                <h2 [routerLink]="['../../administracion-de-contratos']">Historial de Pagos</h2>
              </div>
            </div>
            <div class="card-body pt-0 pb-5">
              <table class="table align-middle table-row-dashed fs-6 gy-5">
                <thead>
                  <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                    <th class="min-w-100px text-center"># Recibo</th>
                    <th class="min-w-100px text-center">Forma</th>
                    <th class="min-w-100px text-center">Período</th>
                    <th class="min-w-100px text-center">Monto</th>
                    <th class="min-w-50px text-center">Status</th>
                    <th class="min-w-150px text-center">Fecha</th>
                    <th class="min-w-100px text-center"># Contrato</th>
                  </tr>
                </thead>
                <tbody class="fw-semibold text-gray-600">
                  <tr *ngFor="let item of allPayment | slice:0:50">
                    <td class="text-center">
                      <span class="text-gray-800 text-hover-primary fs-5 fw-bold"># {{ item.id
                        }}</span>
                    </td>
                    <td class="text-center">{{ item.method }} </td>
                    <td class="text-center">{{ item.pyear }} {{ item.pmonth | titlecase }} </td>
                    <td class="text-center">{{ item.amount | currency }} {{ item.currency }}</td>
                    <td class="text-center">
                      <div class="badge badge-light-success">{{ item.status }}</div>
                    </td>
                    <td class="text-center">{{ item.created_at }}</td>
                    <td class="text-center pe-0">
                      <a [routerLink]="['../../administracion-de-contratos', item.id]"
                        class="text-gray-800 text-hover-primary fs-5 "># {{ item.saleid }}
                      </a>
                    </td>
                  </tr>
                  <tr *ngIf=" allPayment.length == 0">
                    <td colspan="6" class="text-center">No hay datos</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
